/*图片墙*/
body{
	padding:0;
	margin:0;
	font-size:12px;
	color:#FFF;
	/*background-image:url(../images/body_bg.gif);*/
	}
#body_main{
	width:982px;
	margin:auto;
	margin-top:100px;
	}
#ajax-loader{
	width:220px;
	}	
.no-info{
	overflow:hidden;
	text-indent:-1000px;
	display:block;
	width:220px;
	height:180px;
	background-image:url(../images/bg_signs.gif);
	background-position:bottom center;
	background-repeat:no-repeat;
	}
#ajax-loader,.content-none{
	margin: 0px auto;
	display: none;
	text-align: center;
	padding-top:30px;
	}
	
.phone_waterfall li{
	width:231px;
	padding-bottom:10px;
	margin-bottom:20px;
	overflow:hidden;
	background-color:#333;
	background-image:url(../images/body_bg.gif);
	-moz-box-shadow:2px 2px 6px #000;
	-webkit-box-shadow:2px 2px 6px #000;
	box-shadow:2px 2px 6px #000;
/*	
-moz-transform: rotate(7.5deg);
-o-transform: rotate(7.5deg);
-webkit-transform: rotate(7.5deg);
filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9914,M12=-0.1305,M21=0.1305,M22=0.9914,SizingMethod='auto expand');
-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.9914,M12=-0.1305,M21=0.1305,M22=0.9914,SizingMethod=’auto expand’)";
*/
	}
.phone_waterfall li a{
	float:left;
	}
.phone_waterfall li img{
	border:0;
	width:210px;
	padding:10px;
	margin-bottom:2px;
	}
.phone_waterfall li .title{
	color:#333;
	/*background-color:#eee;*/
	color:#999;
	padding:10px;
	}
#footer-wall{
	height:600px;
	}